body{
	margin:0px;
	padding:0px;
}

#main{
	width:100%;
	height:auto;
	margin:0px;
}

.header{
	width:100%;
	height:50px;
	background-color:#073787;
	display:flex;
	
}


.box1{
	width:50%;
	float:left;
	color:white;
	font-size:20px;
	font-family:Bahnschrift SemiBold Condensed;
	padding-top:10px;
}

.box2{
	width:50%;
	float:right;
	color:white;
	font-size:20px;
	font-family:Bahnschrift SemiBold Condensed;
	padding-top:10px;
	padding-left:800px;
}




.secondline{
	width:100%;
	height:150px;
	background-color:white;
	display:flex;
	
}

.box3{
	width:40%;
	height:100px;
	background-color:white;
	padding-left:35px;
	padding-top:20px;
}

.box4{
	width:60%;
	height:100px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	
}

ul{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:18px;
	display:flex;
	padding-top:35px;
}
li{
	float:left;
	padding:5px;
	list-style-type:none;
	background-color:white;
}
li a{
	color:#0170b9;
	text-decoration:none;
	padding:20px;
}
li a:hover{background-color:white;
}

.box5{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}


.box6{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}

.box7{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-right:10px;
	padding-top:75px;
}

.box8{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}

	
.box9{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}

.box10{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}


.box11{
	width:7.5%;
	height:150px;
	color:#073787;
	font-size:18px;
	font-family:Copperplate Gothic Bold;
	padding-top:75px;
}


.service{
		width:100%;
		height:100;
		background-color:white;
		font-family:Franklin Gothic Heavy;
		color:#87A1D0;
		font-size:40px;
		padding-top:40px;
		
}

.pics{
		width:100%;
		height:400;
		background-color:grey;
		font-family:Franklin Gothic Heavy;
		color:#87A1D0;
		font-size:20px;
		display:flex;
		
}

.head{
	width:100%;
	height:50px;
	background-color:#073787;
	color:white;
	padding-top:25px;
}

.box16{
	width:14%;
	background-color:white;
	height:400px;
}

.box17{
	width:15%;
	background-color:white;
	height:400px;
}

.box18{
	width:4%;
	background-color:white;
	height:400px;
}



.menu{width:100%;
height:100px;
background-color:white;
padding:0px;
display:flex;
}
